## **Installing Necessary Libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import calendar
import os

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [7]:
## Loading the data
path ='/content/drive/MyDrive/Thesis/Research Data/Original_Data/Data Received from BMD/3 Hourly/3-hourly Dew-Point Temperature.csv'
df1 = pd.read_csv(path, low_memory=False)
df1.head()

,Dew Point Temperature in Degree celcius Station : Dhaka Lat.23Deg.46Mts.N Long.90Deg.23Mts.E,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34
0,NaN,Year,Month,Tm,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11111,1980,1,0,10,12,14,13,12,12,...,9,10,12,9,11,11,17,14,11,8
3,11111,1980,1,3,15,14,15,15,14,12,...,14,15,15,10,14,13,20,16,6,8
4,11111,1980,1,6,12,14,15,11,14,10,...,8,14,8,7,11,9,19,7,1,*****

## **Data Loading & Make ready for Preprocessing**

In [ ]:
## Loading the data
path ='/content/drive/MyDrive/Thesis/Research Data/Original_Data/3-hourly Dew-Point Temperature.csv'
df = pd.read_csv(path, low_memory=False)
df

,StationName,StationID,Latitude,Longitude,Year,Month,Time,1,2,3,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,10,12,14,...,9,10,12,9,11,11,17,14,11,8
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,15,14,15,...,14,15,15,10,14,13,20,16,6,8
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,12,14,15,...,8,14,8,7,11,9,19,7,1,*****
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,10,15,15,...,6,11,6,6,11,11,7,6,*****,4
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,12,15,17,...,11,13,11,12,13,14,12,8,6,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137371,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,9,23,21,22,...,19,20,19,20,18,19,20,14,18,19
137372,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,12,22,23,23,...,18,20,21,19,19,19,19,20,20,19
137373,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,15,22,22,21,...,18,21,21,20,20,20,19.5,18,19,18
137374,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,18,21,21,21,...,18,19,20,20,19.8,19,18.7,18,19,19
137375,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,21,20,20,21,...,18.5,21,19.7,19.8,19,18.5,17.6,17,18,18

In [ ]:
# Melt the DataFrame into a long format
df_dew = pd.melt(df, id_vars=['StationName','StationID','Latitude','Longitude', 'Year', 'Month', 'Time'], var_name='Day', value_name='DewPointTemperature')
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,10
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,15
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,12
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,10
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,12
...,...,...,...,...,...,...,...,...,...
4258651,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,9,31,19
4258652,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,12,31,19
4258653,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,15,31,18
4258654,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,18,31,19
4258655,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,21,31,18

In [ ]:
## Find the datatypes of the columns
df_dew.dtypes

StationName            object
StationID               int64
Latitude               object
Longitude              object
Year                    int64
Month                   int64
Time                    int64
Day                    object
DewPointTemperature    object
dtype: object

In [ ]:
df_dew.shape

(4258656, 9)

In [ ]:
# Find unique values in 'Month column
df_dew['StationName'].unique()

array(['Dhaka', 'Tangail', 'Mymensingh', 'Faridpur', 'Madaripur',
       'Srimangal', 'Sylhet', 'Bogura', 'Dinajpur', 'Ishurdi', 'Rajshahi',
       'Rangpur', 'Saidpur', 'Chuadanga', 'Jessore', 'Khulna', 'Mongla',
       'Satkhira', 'Barishal', 'Bhola', 'Khepupara', 'Patuakhali',
       'Chandpur', 'Teknaf', 'Chittagong', 'Cumilla', "Cox'sBazar",
       'Feni', 'Hatiya', 'Kutubdia', 'Maijdee_court', 'Rangamati',
       'Sandwip', 'Sitakunda', 'Ambangan(Ctg.)'], dtype=object)

In [ ]:
# Count unique StationIDs
num_unique_station_name = df_dew['StationName'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_name}")

Count of unique Station IDs: 35

In [ ]:
# Find unique values in 'Year column
df_dew['StationID'].unique()

array([11111, 41909, 10609, 11505, 11513, 10724, 10705, 10408, 10120,
       10910, 10320, 10208, 41858, 41926, 11407, 11604, 41958, 11610,
       11704, 11706, 12110, 12103, 11316, 11929, 11921, 11313, 11927,
       11805, 11814, 11925, 11809, 12007, 11916, 11912, 41977])

In [ ]:
# Count unique StationIDs
num_unique_station_ids = df_dew['StationID'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_ids}")

Count of unique Station IDs: 35

In [ ]:
# Find unique values in 'Month column
df_dew['Latitude'].unique()

array(['23Deg.46Mts.N', '24Deg.15Mts.N', '24Deg.43Mts.N', '23Deg.36Mts.N',
       '23Deg.10Mts.N', '24Deg.18Mts.N', '24Deg.54Mts.N', '24Deg.51Mts.N',
       '25Deg.39Mts.N', '24Deg.8Mts.N', '24Deg.22Mts.N', '25Deg.44Mts.N',
       '25Deg.47Mts.N', '23Deg.39Mts.N', '23Deg.11Mts.N', '22Deg.47Mts.N',
       '22Deg.20Mts.N', '22Deg.43Mts.N', '22Deg.45Mts.N', '22Deg.41Mts.N',
       '21Deg.59Mts.N', '23Deg.16Mts.N', '20Deg.52Mts.N', '22Deg.16Mts.N',
       '23Deg.26Mts.N', '21Deg.26Mts.N', '23Deg.2Mts.N', '22Deg.26Mts.N',
       '21Deg.49Mts.N', '22Deg.52Mts.N', '22Deg.32Mts.N', '22Deg.29Mts.N',
       '23Deg.35Mts.N', '22Deg.21Mts.N'], dtype=object)

In [ ]:
# Count unique StationIDs
num_unique_latitude = df_dew['Latitude'].nunique()

print(f"Count of unique Station IDs: {num_unique_latitude}")

Count of unique Station IDs: 34

In [ ]:
# Find unique values in 'Month column
df_dew['Longitude'].unique()

array(['90Deg.23Mts.E', '89Deg.55Mts.E', '90Deg.26Mts.E', '89Deg.51Mts.E',
       '90Deg.11Mts.E', '91Deg.44Mts.E', '91Deg.53Mts.E', '89Deg.22Mts.E',
       '88Deg.41Mts.E', '89Deg.3Mts.E', '88Deg.42Mts.E', '89Deg.14Mts.E',
       '88Deg.53Mts.E', '88Deg.52Mts.E', '89Deg.10Mts.E', '89Deg.32Mts.E',
       '89Deg.36Mts.E', '89Deg.5Mts.E', '90Deg.20Mts.E', '90Deg.39Mts.E',
       '90Deg.14Mts.E', '90Deg.42Mts.E', '92Deg.18Mts.E', '91Deg.49Mts.E',
       '91Deg.11Mts.E', '91Deg.56Mts.E', '91Deg.25Mts.E', '91Deg.6Mts.E',
       '91Deg.51Mts.E', '92Deg.12Mts.E', '91Deg.26Mts.E', '91Deg.42Mts.E'],
      dtype=object)

In [ ]:
df_dew['Longitude'].nunique()

32

In [ ]:
df_dew['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [ ]:
df_dew['Year'].nunique()

44

In [ ]:
# Find unique values in 'Month column
df_dew['Month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [ ]:
# Find unique values in 'Day column
df_dew['Day'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

In [ ]:
# Find data types 'Day column
df_dew['Day'].dtypes

dtype('O')

In [ ]:
# Convert the Day column to numeric
df_dew['Day'] = pd.to_numeric(df_dew['Day'])
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,10
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,15
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,12
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,10
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,12
...,...,...,...,...,...,...,...,...,...
4258651,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,9,31,19
4258652,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,12,31,19
4258653,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,15,31,18
4258654,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,18,31,19
4258655,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,21,31,18

In [ ]:
## Find the datatypes of the columns again
df_dew.dtypes

StationName            object
StationID               int64
Latitude               object
Longitude              object
Year                    int64
Month                   int64
Time                    int64
Day                     int64
DewPointTemperature    object
dtype: object

In [ ]:
# Find unique values in 'Time' column
df_dew['Time'].unique()

array([ 0,  3,  6,  9, 12, 15, 18, 21])

In [ ]:
# Find unique values in 'DewPointTemperature' column
df_dew['DewPointTemperature'].unique()

array(['10', '15', '12', '14', '13', '8', '6', '9', '18', '19', '17',
       '*****', '16', '20', '21', '24', '23', '25', '26', '27', '22',
       '11', '18.9', '26.7', '25.6', '25.8', '7', '2', '5', '21.9',
       '22.8', '26.9', '3', '4', '28', '24.6', '20.8', '18.5', '16.5',
       '29', '24.8', '12.5', '25.5', '1', '26.5', '27.7', '24.9', '24.7',
       '19.9', '22.5', '16.9', '19.7', '18.6', '14.8', '23.6', '8.9',
       '9.5', '24.5', '12.6', '13.6', '16.8', '14.6', '26.6', '21.6',
       '17.6', '12.8', '13.8', '22.6', '15.8', '11.7', '13.5', '28.5',
       '23.7', '16.6', '23.8', '19.6', '20.6', '17.9', '25.7', '11.8',
       '14.9', '14.4', '11.9', '21.7', '15.7', '27.5', '20.5', '30',
       '26.8', '21.5', '22.7', '14.5', '16.7', '21.8', '19.5', '28.2',
       '15.5', '17.4', '10.8', '11.5', '13.7', '23.9', '10.5', '23.5',
       '27.8', '17.7', '7.3', '18.8', '27.4', '17.8', '10.6', '9.7',
       '13.9', '15.6', '8.5', '8.6', '11.6', '7.8', '9.8', '14.7', '8.7',
       '9.6', '17.5', '20.7', '8.4', '7.5', '10.9', '18.7', '8.8', '22.9',
       '25.4', '25.2', '19.8', '31', '27.6', '28.8', '6.3', '25.9', '9.9',
       '15.3', '12.7', '10.7', '12.4', '25.3', '9.3', '13.4', '16.2',
       '26.3', '28.6', '27.9', '13.1', '20.2', '25.1', '16.1', '27.2',
       '21.2', '24.2', '26.4', '20.1', '15.4', '16.4', '17.2', '14.2',
       '22.2', '14.3', '26.2', '15.9', '23.4', '13.2', '21.4', '11.4',
       '17.3', '11.3', '24.4', '15.2', '21.1', '29.2', '27.3', '19.3',
       '17.1', '12.2', '10.2', '11.2', '23.2', '29.5', '15.1', '29.8',
       '29.6', '18.2', '20.9', '19.4', '26.1', '18.4', '22.4', '20.3',
       '19.2', '21.3', '28.7', '31.5', '30.6', '18.3', '22.3', '19.1',
       '23.3', '16.3', '13.3', '28.1', '12.9', '18.1', '28.3', '28.4',
       '24.3', '24.1', '31.8', '7.6', '12.3', '29.9', '20.4', '27.1',
       '14.1', '22.1', '32', '30.8', '1.6', '28.9', '9.2', '10.3', '33',
       '12.1', '29.7', '4.6', '6.6', '7.7', '4.9', '30.5', '23.1', '9.4',
       '10.4', '5.6', '5.8', '7.9', '8.3', '2.8', '7.4', '8.2', '36',
       '6.5', '6.4', '2.6', '2.5', '4.8', '4.5', '5.5', '6.8', '5.4',
       '11.1', '7.2', '30.7', '5.7', '9.1', '6.2', '6.7', '6.9', '1.1',
       '7.1', '0.1', '34', '8.1', '29.3', '10.1', '35', '30.9', '0.9',
       '32.6', '30.2', '31.7', '29.4', '30.1', '2.7', '31.6', '31.9',
       '1.5', '1.4', nan, '1.7'], dtype=object)

## **Handling Missing value and Unwanted Symbol**

In [ ]:
## Count the number of '****' in the value column
df_dew['DewPointTemperature'][df_dew['DewPointTemperature'] == '*****'].count()

120802

In [ ]:
# Filter rows where 'DewPointTemperature' is '*****'
rows_with_asterisks = df_dew[df_dew['DewPointTemperature'] == '*****']

# Display the rows
rows_with_asterisks

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
23,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,21,1,*****
31,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,21,1,*****
39,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,21,1,*****
47,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,6,21,1,*****
55,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,7,21,1,*****
...,...,...,...,...,...,...,...,...,...
4253182,Sitakunda,11912,23Deg.35Mts.N,91Deg.42Mts.E,1988,12,18,31,*****
4253183,Sitakunda,11912,23Deg.35Mts.N,91Deg.42Mts.E,1988,12,21,31,*****
4253190,Sitakunda,11912,23Deg.35Mts.N,91Deg.42Mts.E,1989,1,18,31,*****
4253191,Sitakunda,11912,23Deg.35Mts.N,91Deg.42Mts.E,1989,1,21,31,*****
4254042,Sitakunda,11912,23Deg.35Mts.N,91Deg.42Mts.E,1997,12,6,31,*****

In [ ]:
# Filter rows where 'DewPointTemperature' is '*****'
rows_with_asterisks = df_dew[df_dew['DewPointTemperature'] == '*****']

# Group by 'StationName' and display the results
station_specific_results = rows_with_asterisks.groupby('StationName')

# Display results for each station
for station, data in station_specific_results:
    print(f"Station: {station}")
    print(data, '\n')

Station: Ambangan(Ctg.)
            StationName  StationID       Latitude      Longitude  Year  Month  \
273418   Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2010      2
685843   Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2013      3
960161   Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2008      9
1921842  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2009      3
3708099  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2013      1
4119570  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2006      3
4120035  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2011      1

         Time  Day DewPointTemperature
273418      6    2               *****
685843      9    5               *****
960161      3    7               *****
1921842     6   14               *****
3708099     9   27               *****
4119570     6   30               *****
4120035     9   30               *****

Station: Barishal
        StationName  StationID       Latitude      Longitude  Year  Month  \
69899      Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      2
208501     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1992     11
756820     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      7
759072     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  2004      1
1170659    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1998      5
...             ...        ...            ...            ...   ...    ...
3916512    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
3916513    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
3916514    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      1
4053887    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980     12
4055034    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1992     12

         Time  Day DewPointTemperature
69899       9    1               *****
208501     15    2               *****
756820     12    6               *****
759072      0    6               *****
1170659     9    9               *****
...       ...  ...                 ...
3916512     0   29               *****
3916513     3   29               *****
3916514     6   29               *****
4053887    21   30               *****
4055034     6   30               *****

[72 rows x 9 columns]

Station: Bhola
        StationName  StationID       Latitude      Longitude  Year  Month  \
74123         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1980      2
75456         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
75457         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
75458         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
75459         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1
...             ...        ...            ...            ...   ...    ...
3097754       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      4
3372578       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1995      1
3509924       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      9
3647800       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1999     12
3922186       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1996      2

         Time  Day DewPointTemperature
74123       9    1               *****
75456       0    1               *****
75457       3    1               *****
75458       6    1               *****
75459       9    1               *****
...       ...  ...                 ...
3097754     6   23               *****
3372578     6   25               *****
3509924    12   26               *****
3647800     0   27               *****
3922186     6   29               *****

[270 rows x 9 columns]

Station: Bogura
        StationName  StationID       Latitude      Longitude  Year  Month  \
29019        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1983      4
29253        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1985      9
30146        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1995      1
30147        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1995      1
30148        Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1995      1
...             ...        ...            ...            ...   ...    ...
4151787      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1998     10
4151788      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1998     10
4151789      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1998     10
4151790      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1998     10
4151791      Bogura      10408  24Deg.51Mts.N  89Deg.22Mts.E  1998     10

         Time  Day DewPointTemperature
29019       9    1               *****
29253      15    1               *****
30146       6    1               *****
30147       9    1               *****
30148      12    1               *****
...       ...  ...                 ...
4151787     9   31               *****
4151788    12   31               *****
4151789    15   31               *****
4151790    18   31               *****
4151791    21   31               *****

[951 rows x 9 columns]

Station: Chandpur
        StationName  StationID       Latitude      Longitude  Year  Month  \
225771     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2002     10
226402     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2009      5
361947     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      4
773682     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1984      3
911465     Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1988      6
...             ...        ...            ...            ...   ...    ...
3109387    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3109388    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6
3248771    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2010      5
3248772    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2010      5
4208262    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1986      1

         Time  Day DewPointTemperature
225771      9    2               *****
226402      6    2               *****
361947      9    3               *****
773682      6    6               *****
911465      3    7               *****
...       ...  ...                 ...
3109387     9   23               *****
3109388    12   23               *****
3248771     9   24               *****
3248772    12   24               *****
4208262    18   31               *****

[68 rows x 9 columns]

Station: Chittagong
        StationName  StationID       Latitude      Longitude  Year  Month  \
94755    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981      1
94840    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94841    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94842    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
94843    Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12
...             ...        ...            ...            ...   ...    ...
4217987  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      5
4217988  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      5
4217989  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      5
4217990  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      5
4217991  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  2001      5

         Time  Day DewPointTemperature
94755       9    1               *****
94840       0    1               *****
94841       3    1               *****
94842       6    1               *****
94843       9    1               *****
...       ...  ...                 ...
4217987     9   31               *****
4217988    12   31               *****
4217989    15   31               *****
4217990    18   31               *****
4217991    21   31               *****

[1571 rows x 9 columns]

Station: Chuadanga
        StationName  StationID       Latitude      Longitude  Year  Month  \
190145    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2009      9
327011    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2004      5
602619    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2013      4
739994    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2013      4
739995    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2013      4
740451    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2018      1
877371    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2013      4
877459    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2014      3
1427258   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2017      4
1427259   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2017      4
1702571   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2023      2
1838506   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2008      2
2524723   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2001      3
3075282   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2012      3
3213131   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2017      2
3487131   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2009      4
3624506   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2009      4
3624507   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2009      4
4036180   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2004      7

         Time  Day DewPointTemperature
190145      3    2               *****
327011      9    3               *****
602619      9    5               *****
739994      6    6               *****
739995      9    6               *****
740451      9    6               *****
877371      9    7               *****
877459      9    7               *****
1427258     6   11               *****
1427259     9   11               *****
1702571     9   13               *****
1838506     6   14               *****
2524723     9   19               *****
3075282     6   23               *****
3213131     9   24               *****
3487131     9   26               *****
3624506     6   27               *****
3624507     9   27               *****
4036180    12   30               *****

Station: Cox'sBazar
        StationName  StationID       Latitude      Longitude  Year  Month  \
102592   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
102593   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
102594   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
102595   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
102596   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9
...             ...        ...            ...            ...   ...    ...
4223885  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4223886  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4223887  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10
4224292  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1985      1
4224596  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1988      3

         Time  Day DewPointTemperature
102592      0    1               *****
102593      3    1               *****
102594      6    1               *****
102595      9    1               *****
102596     12    1               *****
...       ...  ...                 ...
4223885    15   31               *****
4223886    18   31               *****
4223887    21   31               *****
4224292    12   31               *****
4224596    12   31               *****

[869 rows x 9 columns]

Station: Cumilla
        StationName  StationID       Latitude      Longitude  Year  Month  \
98720       Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5
98721       Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5
98722       Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5
98723       Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5
98724       Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5
...             ...        ...            ...            ...   ...    ...
3122019     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1995      1
3258032     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1980     11
3536842     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  2023      2
3671551     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1995      4
3672778     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  2008      2

         Time  Day DewPointTemperature
98720       0    1               *****
98721       3    1               *****
98722       6    1               *****
98723       9    1               *****
98724      12    1               *****
...       ...  ...                 ...
3122019     9   23               *****
3258032     0   24               *****
3536842     6   26               *****
3671551    21   27               *****
3672778     6   27               *****

[104 rows x 9 columns]

Station: Dhaka
        StationName  StationID       Latitude      Longitude  Year  Month  \
23            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      3
31            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      4
39            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      5
47            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      6
55            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      7
...             ...        ...            ...            ...   ...    ...
4121573       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983      1
4121574       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983      1
4121575       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983      1
4122722       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1995      1
4122723       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1995      1

         Time  Day DewPointTemperature
23         21    1               *****
31         21    1               *****
39         21    1               *****
47         21    1               *****
55         21    1               *****
...       ...  ...                 ...
4121573    15   31               *****
4121574    18   31               *****
4121575    21   31               *****
4122722     6   31               *****
4122723     9   31               *****

[983 rows x 9 columns]

Station: Dinajpur
        StationName  StationID       Latitude      Longitude  Year  Month  \
32933      Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1981      1
32934      Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1981      1
32935      Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1981      1
32941      Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1981      2
32942      Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1981      2
...             ...        ...            ...            ...   ...    ...
4154958    Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1988     10
4154959    Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1988     10
4154973    Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1988     12
4154974    Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1988     12
4154975    Dinajpur      10120  25Deg.39Mts.N  88Deg.41Mts.E  1988     12

         Time  Day DewPointTemperature
32933      15    1               *****
32934      18    1               *****
32935      21    1               *****
32941      15    1               *****
32942      18    1               *****
...       ...  ...                 ...
4154958    18   31               *****
4154959    21   31               *****
4154973    15   31               *****
4154974    18   31               *****
4154975    21   31               *****

[9082 rows x 9 columns]

Station: Faridpur
        StationName  StationID       Latitude      Longitude  Year  Month  \
14803      Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2009      3
286815     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1980      8
286896     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7
286897     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7
286898     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7
...             ...        ...            ...            ...   ...    ...
3721287    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      5
3724139    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2011      2
3724890    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2018     12
3724891    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2018     12
3996526    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1986      6

         Time  Day DewPointTemperature
14803       9    1               *****
286815     21    3               *****
286896      0    3               *****
286897      3    3               *****
286898      6    3               *****
...       ...  ...                 ...
3721287    21   28               *****
3724139     9   28               *****
3724890     6   28               *****
3724891     9   28               *****
3996526    18   30               *****

[115 rows x 9 columns]

Station: Feni
        StationName  StationID      Latitude      Longitude  Year  Month  \
106826         Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  1980     10
106827         Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  1980     10
106831         Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  1980     10
107088         Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  1983      7
107089         Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  1983      7
...             ...        ...           ...            ...   ...    ...
4230451        Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  2005      3
4230452        Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  2005      3
4230453        Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  2005      3
4230454        Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  2005      3
4230455        Feni      11805  23Deg.2Mts.N  91Deg.25Mts.E  2005      3

         Time  Day DewPointTemperature
106826      6    1               *****
106827      9    1               *****
106831     21    1               *****
107088      0    1               *****
107089      3    1               *****
...       ...  ...                 ...
4230451     9   31               *****
4230452    12   31               *****
4230453    15   31               *****
4230454    18   31               *****
4230455    21   31               *****

[739 rows x 9 columns]

Station: Hatiya
        StationName  StationID       Latitude     Longitude  Year  Month  \
111216       Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1983      7
111217       Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1983      7
111218       Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1983      7
111219       Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1983      7
111220       Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1983      7
...             ...        ...            ...           ...   ...    ...
4233566      Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1994      8
4233567      Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  1994      8
4234733      Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  2006     10
4234734      Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  2006     10
4234735      Hatiya      11814  22Deg.26Mts.N  91Deg.6Mts.E  2006     10

         Time  Day DewPointTemperature
111216      0    1               *****
111217      3    1               *****
111218      6    1               *****
111219      9    1               *****
111220     12    1               *****
...       ...  ...                 ...
4233566    18   31               *****
4233567    21   31               *****
4234733    15   31               *****
4234734    18   31               *****

In [ ]:
# To find the null values
df_dew.isnull().sum()

StationName                0
StationID                  0
Latitude                   0
Longitude                  0
Year                       0
Month                      0
Time                       0
Day                        0
DewPointTemperature    77304
dtype: int64

In [ ]:
# Replace '*****' with NaN in the original DataFrame
df_dew.loc[df_dew['DewPointTemperature'] == '*****', 'DewPointTemperature'] = np.nan

In [ ]:
# To find the null values
df_dew.isnull().sum()

StationName                 0
StationID                   0
Latitude                    0
Longitude                   0
Year                        0
Month                       0
Time                        0
Day                         0
DewPointTemperature    198106
dtype: int64

In [ ]:
# Step 2: Convert 'DewPointTemperature' to numeric, coercing errors (turn non-numeric to NaN)
df_dew['DewPointTemperature'] = pd.to_numeric(df_dew['DewPointTemperature'], errors='coerce')

# Group by StationName, Month, Day, and Time, and calculate the mean for each group
DewPointTemperature_mean = df_dew.groupby(['StationName', 'Month', 'Day', 'Time'])['DewPointTemperature'].transform('mean')

# Replace '*****' (NaN values) with the mean of the same station, month, day, and time
df_dew['DewPointTemperature'] = df_dew['DewPointTemperature'].fillna(DewPointTemperature_mean)

# Verify the result
print(df_dew)

            StationName  StationID       Latitude      Longitude  Year  Month  \
0                 Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
1                 Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
2                 Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
3                 Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
4                 Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1
...                 ...        ...            ...            ...   ...    ...
4258651  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2023     12
4258652  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2023     12
4258653  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2023     12
4258654  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2023     12
4258655  Ambangan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2023     12

         Time  Day  DewPointTemperature
0           0    1                 10.0
1           3    1                 15.0
2           6    1                 12.0
3           9    1                 10.0
4          12    1                 12.0
...       ...  ...                  ...
4258651     9   31                 19.0
4258652    12   31                 19.0
4258653    15   31                 18.0
4258654    18   31                 19.0
4258655    21   31                 18.0

[4258656 rows x 9 columns]

In [ ]:
# Check it again to  find the null values
df_dew.isnull().sum()

StationName                0
StationID                  0
Latitude                   0
Longitude                  0
Year                       0
Month                      0
Time                       0
Day                        0
DewPointTemperature    68520
dtype: int64

In [ ]:
# Check rows where 'DewPointTemperature' is still NaN after replacement
rows_with_nan = df_dew[df_dew['DewPointTemperature'].isna()]

# If there are still rows with NaN, inspect them
rows_with_nan

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
3983912,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,0,30,NaN
3983913,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,3,30,NaN
3983914,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,6,30,NaN
3983915,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,9,30,NaN
3983916,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,12,30,NaN
...,...,...,...,...,...,...,...,...,...
4258643,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,11,9,31,NaN
4258644,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,11,12,31,NaN
4258645,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,11,15,31,NaN
4258646,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,11,18,31,NaN
4258647,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,11,21,31,NaN

In [ ]:
# Sample: Define valid days for each month (for non-leap years)
valid_days_per_month = {
    1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
    7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
}

# Adjust for leap years (for February only)
def is_leap_year(year):
    return (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))

# Add a column to check if a year is a leap year
df_dew['IsLeapYear'] = df_dew['Year'].apply(is_leap_year)

# Adjust February days for leap years
df_dew.loc[df_dew['IsLeapYear'], 'ValidDays'] = df_dew.loc[df_dew['IsLeapYear'], 'Month'].apply(lambda month: 29 if month == 2 else valid_days_per_month[month])
df_dew.loc[~df_dew['IsLeapYear'], 'ValidDays'] = df_dew.loc[~df_dew['IsLeapYear'], 'Month'].apply(lambda month: valid_days_per_month[month])

In [ ]:
# Remove rows where 'Day' is greater than the valid days for that month
df_dew = df_dew[df_dew['Day'] <= df_dew['ValidDays']]

In [ ]:
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature,IsLeapYear,ValidDays
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,10.0,True,31.0
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,15.0,True,31.0
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,12.0,True,31.0
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,10.0,True,31.0
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,12.0,True,31.0
...,...,...,...,...,...,...,...,...,...,...,...
4258651,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,9,31,19.0,False,31.0
4258652,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,12,31,19.0,False,31.0
4258653,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,15,31,18.0,False,31.0
4258654,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,18,31,19.0,False,31.0
4258655,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,21,31,18.0,False,31.0

In [ ]:
# Check it again to  find the null values
df_dew.isnull().sum()

StationName            0
StationID              0
Latitude               0
Longitude              0
Year                   0
Month                  0
Time                   0
Day                    0
DewPointTemperature    0
IsLeapYear             0
ValidDays              0
dtype: int64

In [ ]:
df_dew = df_dew.drop(columns=['IsLeapYear', 'ValidDays'])

In [ ]:
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,0,1,10.0
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,3,1,15.0
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,6,1,12.0
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,9,1,10.0
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,12,1,12.0
...,...,...,...,...,...,...,...,...,...
4258651,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,9,31,19.0
4258652,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,12,31,19.0
4258653,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,15,31,18.0
4258654,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,18,31,19.0
4258655,Ambangan(Ctg.),41977,22Deg.21Mts.N,91Deg.49Mts.E,2023,12,21,31,18.0

## **Coverting Latitude and Longitude to Numerical Value**

In [ ]:
df_dew.dtypes

StationName             object
StationID                int64
Latitude                object
Longitude               object
Year                     int64
Month                    int64
Time                     int64
Day                      int64
DewPointTemperature    float64
dtype: object

In [ ]:
def convert_to_decimal(deg_min, direction):
    """
    Converts degree-minute format to decimal degrees.
    Example Input: "23Deg.46Mts.N" -> Output: 23.7667
    """
    parts = deg_min.split("Deg.")
    degrees = float(parts[0])
    minutes = float(parts[1].split("Mts.")[0])

    decimal = degrees + (minutes / 60)

    # Convert South/West to negative
    if direction in ["S", "W"]:
        decimal = -decimal

    return decimal

# Example usage
latitude = convert_to_decimal("23Deg.46Mts.", "N")
longitude = convert_to_decimal("90Deg.23Mts.", "E")

print(latitude, longitude)  # Output: 23.7667, 90.3833

23.766666666666666 90.38333333333334

In [ ]:
df_dew["Latitude"] = df_dew["Latitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (N/S)
df_dew["Longitude"] = df_dew["Longitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (E/W)
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,10.0
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,15.0
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,12.0
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,10.0
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,12.0
...,...,...,...,...,...,...,...,...,...
4258651,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,9,31,19.0
4258652,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,12,31,19.0
4258653,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,15,31,18.0
4258654,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,18,31,19.0
4258655,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,21,31,18.0

In [ ]:
df_dew.dtypes

StationName             object
StationID                int64
Latitude               float64
Longitude              float64
Year                     int64
Month                    int64
Time                     int64
Day                      int64
DewPointTemperature    float64
dtype: object

## **Creating Date Time Column**

In [ ]:
import calendar

# Function to check if a date is valid
def is_invalid_date(row):
    days_in_month = calendar.monthrange(row['Year'], row['Month'])[1]
    return row['Day'] > days_in_month

# Remove invalid rows
df_dew = df_dew[~df_dew.apply(is_invalid_date, axis=1)].reset_index(drop=True)

# Convert datetime again
df_dew['Datetime'] = pd.to_datetime(df_dew[['Year', 'Month', 'Day']]) + pd.to_timedelta(df_dew['Time'], unit='h')

print(df_dew.info())  # Verify that datetime is correctly created

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4181352 entries, 0 to 4181351
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   StationName          object
 1   StationID            int64
 2   Latitude             float64
 3   Longitude            float64
 4   Year                 int64
 5   Month                int64
 6   Time                 int64
 7   Day                  int64
 8   DewPointTemperature  float64
 9   Datetime             datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(5), object(1)
memory usage: 319.0+ MB
None

In [ ]:
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature,Datetime
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,10.0,1980-01-01 00:00:00
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,15.0,1980-01-01 03:00:00
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,12.0,1980-01-01 06:00:00
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,10.0,1980-01-01 09:00:00
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,12.0,1980-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4181347,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,9,31,19.0,2023-12-31 09:00:00
4181348,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,12,31,19.0,2023-12-31 12:00:00
4181349,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,15,31,18.0,2023-12-31 15:00:00
4181350,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,18,31,19.0,2023-12-31 18:00:00
4181351,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,21,31,18.0,2023-12-31 21:00:00

In [ ]:
print(df_dew["Datetime"].apply(type).value_counts())

Datetime
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    4181352
Name: count, dtype: int64

In [ ]:
print(df_dew.duplicated().sum())  # Check for duplicate rows

245

In [ ]:
# Find duplicate rows
duplicates = df_dew[df_dew.duplicated()]

# Show the duplicate rows
duplicates

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature,Datetime
19776,Madaripur,11513,23.166667,90.183333,2018,1,0,1,14.0,2018-01-01 00:00:00
19777,Madaripur,11513,23.166667,90.183333,2018,1,3,1,15.0,2018-01-01 03:00:00
19778,Madaripur,11513,23.166667,90.183333,2018,1,6,1,17.0,2018-01-01 06:00:00
19779,Madaripur,11513,23.166667,90.183333,2018,1,9,1,17.0,2018-01-01 09:00:00
19780,Madaripur,11513,23.166667,90.183333,2018,1,12,1,17.0,2018-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4112754,Madaripur,11513,23.166667,90.183333,2018,1,6,31,13.0,2018-01-31 06:00:00
4112755,Madaripur,11513,23.166667,90.183333,2018,1,9,31,11.0,2018-01-31 09:00:00
4112757,Madaripur,11513,23.166667,90.183333,2018,1,15,31,15.0,2018-01-31 15:00:00
4112758,Madaripur,11513,23.166667,90.183333,2018,1,18,31,15.0,2018-01-31 18:00:00
4112759,Madaripur,11513,23.166667,90.183333,2018,1,21,31,13.0,2018-01-31 21:00:00

In [ ]:
# Remove all duplicate rows (considering all columns)
df_dew = df_dew.drop_duplicates()

# Display the cleaned DataFrame
df_dew

,StationName,StationID,Latitude,Longitude,Year,Month,Time,Day,DewPointTemperature,Datetime
0,Dhaka,11111,23.766667,90.383333,1980,1,0,1,10.0,1980-01-01 00:00:00
1,Dhaka,11111,23.766667,90.383333,1980,1,3,1,15.0,1980-01-01 03:00:00
2,Dhaka,11111,23.766667,90.383333,1980,1,6,1,12.0,1980-01-01 06:00:00
3,Dhaka,11111,23.766667,90.383333,1980,1,9,1,10.0,1980-01-01 09:00:00
4,Dhaka,11111,23.766667,90.383333,1980,1,12,1,12.0,1980-01-01 12:00:00
...,...,...,...,...,...,...,...,...,...,...
4181347,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,9,31,19.0,2023-12-31 09:00:00
4181348,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,12,31,19.0,2023-12-31 12:00:00
4181349,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,15,31,18.0,2023-12-31 15:00:00
4181350,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,18,31,19.0,2023-12-31 18:00:00
4181351,Ambangan(Ctg.),41977,22.350000,91.816667,2023,12,21,31,18.0,2023-12-31 21:00:00

In [ ]:
print(df_dew.duplicated().sum())  # Check for duplicate rows

0

In [ ]:
print(df_dew.groupby("StationID")["Datetime"].nunique())  # Check number of unique timestamps per station

StationID
10120    125640
10208    128568
10320    128568
10408    128568
10609    128568
10705    128568
10724    125648
10910    128568
11111    128568
11313    128568
11316    119800
11407    128568
11505    128568
11513    125400
11604    128568
11610    125648
11704    128568
11706    122720
11805    128568
11809    128568
11814    125648
11912    125648
11916    122728
11921    111040
11925    108112
11927    128568
11929    128568
12007    125640
12103    125640
12110    128568
41858     67200
41909    108112
41926     67200
41958     96424
41977     67200
Name: Datetime, dtype: int64

In [ ]:
# Reorganizing columns
df_dew = df_dew[[
    'Datetime', 'StationName',
    'StationID', 'Latitude', 'Longitude',
    'Year', 'Month', 'Day', 'Time',
    'DewPointTemperature'
]]

# Display the first few rows to confirm
df_dew.head()

,Datetime,StationName,StationID,Latitude,Longitude,Year,Month,Day,Time,DewPointTemperature
0,1980-01-01 00:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,0,10.0
1,1980-01-01 03:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,3,15.0
2,1980-01-01 06:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,6,12.0
3,1980-01-01 09:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,9,10.0
4,1980-01-01 12:00:00,Dhaka,11111,23.766667,90.383333,1980,1,1,12,12.0

## **Data Summary**

In [ ]:
print(df_dew.info())  # Check data types and missing values
print(df_dew.describe())  # Summary statistics for numeric columns
print(df_dew["Datetime"].min(), df_dew["Datetime"].max())  # Verify datetime range
print(df_dew.duplicated().sum())  # Check for duplicate rows

<class 'pandas.core.frame.DataFrame'>
Index: 4181107 entries, 0 to 4181351
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   Datetime             datetime64[ns]
 1   StationName          object
 2   StationID            int64
 3   Latitude             float64
 4   Longitude            float64
 5   Year                 int64
 6   Month                int64
 7   Day                  int64
 8   Time                 int64
 9   DewPointTemperature  float64
dtypes: datetime64[ns](1), float64(3), int64(5), object(1)
memory usage: 350.9+ MB
None
                            Datetime     StationID      Latitude  \
count                        4181107  4.181107e+06  4.181107e+06
mean   2002-11-06 03:23:09.227780480  1.435815e+04  2.330396e+01
min              1980-01-01 00:00:00  1.012000e+04  2.086667e+01
25%              1992-01-20 18:00:00  1.111100e+04  2.248333e+01
50%              2003-05-07 12:00:00  1.170400e+04  2.316667e+01
75%              2013-10-10 21:00:00  1.192500e+04  2.425000e+01
max              2023-12-31 21:00:00  4.197700e+04  2.578333e+01
std                              NaN  9.060686e+03  1.176910e+00

          Longitude          Year         Month           Day          Time  \
count  4.181107e+06  4.181107e+06  4.181107e+06  4.181107e+06  4.181107e+06
mean   9.049726e+01  2.002347e+03  6.522633e+00  1.572954e+01  1.050000e+01
min    8.868333e+01  1.980000e+03  1.000000e+00  1.000000e+00  0.000000e+00
25%    8.953333e+01  1.992000e+03  4.000000e+00  8.000000e+00  6.000000e+00
50%    9.038333e+01  2.003000e+03  7.000000e+00  1.600000e+01  1.200000e+01
75%    9.170000e+01  2.013000e+03  1.000000e+01  2.300000e+01  1.500000e+01
max    9.230000e+01  2.023000e+03  1.200000e+01  3.100000e+01  2.100000e+01
std    1.112091e+00  1.258924e+01  3.448541e+00  8.800048e+00  6.873862e+00

       DewPointTemperature
count         4.181107e+06
mean          2.138716e+01
min           1.000000e-01
25%           1.700000e+01
50%           2.300000e+01
75%           2.600000e+01
max           3.600000e+01
std           5.234576e+00
1980-01-01 00:00:00 2023-12-31 21:00:00
0

In [ ]:
print(df_dew.isnull().sum())

Datetime               0
StationName            0
StationID              0
Latitude               0
Longitude              0
Year                   0
Month                  0
Day                    0
Time                   0
DewPointTemperature    0
dtype: int64

In [ ]:
print(df_dew.duplicated(subset=['StationID', 'Datetime']).sum())

3

In [ ]:
print(df_dew['StationName'].unique())

['Dhaka' 'Tangail' 'Mymensingh' 'Faridpur' 'Madaripur' 'Srimangal'
 'Sylhet' 'Bogura' 'Dinajpur' 'Ishurdi' 'Rajshahi' 'Rangpur' 'Saidpur'
 'Chuadanga' 'Jessore' 'Khulna' 'Mongla' 'Satkhira' 'Barishal' 'Bhola'
 'Khepupara' 'Patuakhali' 'Chandpur' 'Teknaf' 'Chittagong' 'Cumilla'
 "Cox'sBazar" 'Feni' 'Hatiya' 'Kutubdia' 'Maijdee_court' 'Rangamati'
 'Sandwip' 'Sitakunda' 'Ambangan(Ctg.)']

In [ ]:
print(df_dew['Datetime'].is_monotonic_increasing)

False

In [ ]:
df_dew['DewPointTemperature'] = df_dew['DewPointTemperature'].round(1)

## **Saving the Data Finally**

In [ ]:
# Save the DataFrame to a CSV file
df_dew.to_csv('/content/drive/MyDrive/Thesis/Research Data/Preprocessed Data/Processed_dew_point_data.csv', index=False)