## **Installing Necessary Libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import calendar
import os

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## **Data Loading & Make ready for Preprocessing**

In [3]:
## Loading the data
path ='/content/drive/MyDrive/Thesis/Research Data/Original_Data/Daily Maximum Temperature.csv'
df = pd.read_csv(path, low_memory=False)
df

,StationName,StationID,Latitude,Longitude,Year,Month,1,2,3,4,...,22,23,24,25,26,27,28,29,30,31
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,24.7,21.1,22.8,25,...,26.7,24.2,24.4,25.6,22.2,26.7,28.9,27.8,23.3,24.1
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,24.4,26.1,27.1,28.4,...,30,30.8,32.2,30.6,30.7,30.8,31.2,30.4,NaN,NaN
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,22.2,26.1,20,28.9,...,36.6,37.9,35.3,33.6,35.8,32.1,34.3,34.7,29,32.8
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,35,35.6,36.4,36.4,...,35,35,35.6,35.6,35.7,35.8,35.3,34.7,33.9,NaN
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,35.3,35.3,30.3,34.2,...,33.7,34.4,35.4,34.4,32.2,31.1,30.1,30.6,29.4,30.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,****,****,****,****,...,****,****,****,****,****,****,****,****,****,****
17576,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,9,****,****,****,****,...,****,****,****,****,****,****,****,****,****,NaN
17577,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,****,****,****,****,...,****,****,****,****,****,****,****,****,****,****
17578,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,11,****,****,****,****,...,****,****,****,****,****,****,****,****,****,NaN
17579,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,****,****,****,****,...,****,****,****,****,****,****,****,****,****,****

In [4]:
# Melt the DataFrame into a long format
df_max = pd.melt(df, id_vars=['StationName','StationID','Latitude','Longitude', 'Year', 'Month'], var_name='Day', value_name='MaximumTemperature')
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,1,24.7
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,1,24.4
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,1,22.2
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,1,35
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,1,35.3
...,...,...,...,...,...,...,...,...
544975,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,31,****
544976,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,9,31,NaN
544977,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,31,****
544978,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,11,31,NaN
544979,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,31,****

In [5]:
## Find the datatypes of the columns
df_max.dtypes

StationName           object
StationID              int64
Latitude              object
Longitude             object
Year                   int64
Month                  int64
Day                   object
MaximumTemperature    object
dtype: object

In [6]:
df_max.shape

(544980, 8)

In [7]:
# Find unique values in 'Month column
df_max['StationName'].unique()

array(['Dhaka', 'Tangail', 'Mymensingh', 'Faridpur', 'Madaripur',
       'Srimangal', 'Sylhet', 'Chuadanga', 'Jessore', 'Khulna', 'Mongla',
       'Satkhira', 'Barishal', 'Bhola', 'Khepupara', 'Patuakhali',
       'Chandpur', 'Ambagan(Ctg.)', 'Chittagong', 'Cumilla', "Cox'sBazar",
       'Feni', 'Hatiya', 'Kutubdia', 'Maijdee_court', 'Rangamati',
       'Sandwip', 'Sitakunda', 'Teknaf'], dtype=object)

In [8]:
# Count unique StationIDs
num_unique_station_name = df_max['StationName'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_name}")

Count of unique Station IDs: 29

In [9]:
# Find unique values in 'Year column
df_max['StationID'].unique()

array([11111, 41909, 10609, 11505, 11513, 10724, 10705, 10408, 10120,
       10910, 10320, 10208, 41858, 41926, 11407, 11604, 41958, 11610,
       11704, 11706, 12110, 12103, 11316, 41977, 11921, 11313, 11927,
       11805, 11814, 11925, 11809, 12007, 11916, 11912, 11929])

In [10]:
# Count unique StationIDs
num_unique_station_ids = df_max['StationID'].nunique()

print(f"Count of unique Station IDs: {num_unique_station_ids}")

Count of unique Station IDs: 35

In [11]:
# Find unique values in 'Month column
df_max['Latitude'].unique()

array(['23Deg.46Mts.N', '24Deg.15Mts.N', '24Deg.43Mts.N', '23Deg.36Mts.N',
       '23Deg.10Mts.N', '24Deg.18Mts.N', '24Deg.54Mts.N', '23Deg.39Mts.N',
       '23Deg.11Mts.N', '22Deg.47Mts.N', '22Deg.20Mts.N', '22Deg.43Mts.N',
       '22Deg.45Mts.N', '22Deg.41Mts.N', '21Deg.59Mts.N', '23Deg.16Mts.N',
       '22Deg.21Mts.N', '22Deg.16Mts.N', '23Deg.26Mts.N', '21Deg.26Mts.N',
       '23Deg.2Mts.N', '22Deg.26Mts.N', '21Deg.49Mts.N', '22Deg.52Mts.N',
       '22Deg.32Mts.N', '22Deg.29Mts.N', '23Deg.35Mts.N', '20Deg.52Mts.N'],
      dtype=object)

In [12]:
# Count unique StationIDs
num_unique_latitude = df_max['Latitude'].nunique()

print(f"Count of unique Station IDs: {num_unique_latitude}")

Count of unique Station IDs: 28

In [13]:
# Find unique values in 'Month column
df_max['Longitude'].unique()

array(['90Deg.23Mts.E', '89Deg.55Mts.E', '90Deg.26Mts.E', '89Deg.51Mts.E',
       '90Deg.11Mts.E', '91Deg.44Mts.E', '91Deg.53Mts.E', '88Deg.52Mts.E',
       '89Deg.10Mts.E', '89Deg.32Mts.E', '89Deg.36Mts.E', '89Deg.5Mts.E',
       '90Deg.20Mts.E', '90Deg.39Mts.E', '90Deg.14Mts.E', '90Deg.42Mts.E',
       '91Deg.49Mts.E', '91Deg.11Mts.E', '91Deg.56Mts.E', '91Deg.25Mts.E',
       '91Deg.6Mts.E', '91Deg.51Mts.E', '92Deg.12Mts.E', '91Deg.26Mts.E',
       '91Deg.42Mts.E', '92Deg.18Mts.E'], dtype=object)

In [14]:
df_max['Longitude'].nunique()

26

In [15]:
df_max['Year'].unique()

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [16]:
df_max['Year'].nunique()

44

In [17]:
# Find unique values in 'Month column
df_max['Month'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [18]:
# Find unique values in 'Day column
df_max['Day'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31'], dtype=object)

In [19]:
# Find data types 'Day column
df_max['Day'].dtypes

dtype('O')

In [20]:
# Convert the Day column to numeric
df_max['Day'] = pd.to_numeric(df_max['Day'])
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,1,24.7
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,1,24.4
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,1,22.2
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,1,35
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,1,35.3
...,...,...,...,...,...,...,...,...
544975,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,31,****
544976,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,9,31,NaN
544977,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,31,****
544978,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,11,31,NaN
544979,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,31,****

In [21]:
## Find the datatypes of the columns again
df_max.dtypes

StationName           object
StationID              int64
Latitude              object
Longitude             object
Year                   int64
Month                  int64
Day                    int64
MaximumTemperature    object
dtype: object

In [22]:
# Find unique values in 'MaximumTemperature' column
df_max['MaximumTemperature'].unique()

array(['24.7', '24.4', '22.2', '35', '35.3', '31.4', '32.2', '31.2',
       '32.8', '31.9', '31.1', '28.9', '23.9', '25', '32', '26.7', '33.3',
       '32.6', '27.7', '24.3', '30.8', '****', '34.2', '35.6', '33.1',
       '22.3', '21.3', '29.6', '34.3', '27.8', '31.8', '30.3', '28.4',
       '26.6', '37.5', '33.4', '35.8', '31.3', '30.2', '31.7', '21.1',
       '26.2', '33.2', '32.5', '30', '33', '29', '23.3', '34.4', '33.7',
       '36.4', '31.5', '32.3', '24.2', '29.4', '30.1', '30.5', '34.8',
       '28.1', '28', '38.2', '33.8', '34', '23.1', '26.4', '34.5', '28.2',
       '23.5', '27', '26.3', '32.7', '30.7', '29.9', '25.6', '28.5',
       '32.4', '33.5', '29.2', '26.8', '20.5', '24.6', '34.7', '29.5',
       '28.6', '29.1', '26.5', '35.4', '34.1', '25.7', '37.2', '36.5',
       '27.6', '35.1', '25.5', '33.6', '31', '24.8', '30.6', '26', '27.4',
       '36.3', '36.6', '32.1', '27.3', '29.7', '25.9', '25.3', '24.5',
       '28.7', '23', '27.5', '17', '36', '29.8', '32.9', '35.5', '25.8',
       '29.3', '27.1', '26.9', '36.8', '35.9', '31.6', '22.1', '34.9',
       '28.8', '36.1', '34.6', '30.9', '37', '22.4', '38', '36.2', '38.3',
       '30.4', '37.4', '27.2', '20.4', '25.2', '19.2', '22.8', '21',
       '37.6', '35.2', '25.4', '25.1', '21.6', '16.2', '19.8', '23.2',
       '21.2', '19', '24.9', '35.7', '36.7', '21.5', '37.7', '23.6',
       '23.4', '21.9', '26.1', '22', '21.8', '22.5', '22.7', '28.3',
       '20.9', '23.7', '27.9', '21.7', '21.4', '20.2', '20.8', '24',
       '38.5', '33.9', '16', '36.9', '23.8', '20', '17.5', '37.1', '24.1',
       '20.6', '19.6', '22.6', '37.8', '15', '37.3', '39.3', '38.9',
       '38.7', '40.5', '14.2', '20.7', '39', '40.7', '17.2', '19.5',
       '39.5', '18', '41', '38.4', '42.8', '39.2', '38.8', '39.6', '38.1',
       '22.9', '43.3', '39.7', '19.4', '42.4', '39.8', '40.2', '18.6',
       '20.3', '15.7', '18.5', '40', '18.4', '41.5', '43.5', '19.3', '42',
       '40.6', '39.4', '18.2', '15.1', '13.6', '15.5', '37.9', '14.5',
       '18.7', '20.1', '16.7', '13.2', '16.1', '17.4', '13.4', '18.8',
       '13.5', '41.2', '40.1', '42.7', '38.6', '14.8', '19.7', '16.3',
       '16.9', '17.8', '39.9', '40.8', '12.7', '43', '14.1', '41.8',
       '16.5', '14.3', '18.9', '17.9', '14.4', '17.6', '17.3', '41.4',
       '13.8', '16.4', '13.1', '39.1', '13.7', '17.7', '40.3', '42.2',
       '16.6', '15.4', '18.1', '15.8', '19.1', '18.3', '14', '41.1',
       '41.7', '12.6', '40.4', '12.5', '42.9', '15.2', '14.7', '15.3',
       '42.5', '43.6', '17.1', '16.8', '42.3', '43.2', '40.9', '14.6',
       '15.6', '12.8', '12.4', '42.6', '43.7', '12', '15.9', '19.9', '13',
       '12.1', '10.9', '11.8', '13.3', '12.2', '11', '12.3', '41.3',
       '41.6', '11.6', '13.9', '42.1', '41.9', '43.4', '44', '44.4',
       '43.8', '2.3', nan], dtype=object)

## **Handling Missing value and Unwanted Symbol**

In [23]:
## Count the number of '****' in the value column
df_max['MaximumTemperature'][df_max['MaximumTemperature'] == '****'].count()

np.int64(5834)

In [24]:
# Filter rows where 'MaximumTemperature' is '****'
rows_with_asterisks = df_max[df_max['MaximumTemperature'] == '****']

# Display the rows
rows_with_asterisks

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
27,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1982,4,1,****
528,Tangail,41909,24Deg.15Mts.N,89Deg.55Mts.E,1987,1,1,****
529,Tangail,41909,24Deg.15Mts.N,89Deg.55Mts.E,1987,2,1,****
530,Tangail,41909,24Deg.15Mts.N,89Deg.55Mts.E,1987,3,1,****
531,Tangail,41909,24Deg.15Mts.N,89Deg.55Mts.E,1987,4,1,****
...,...,...,...,...,...,...,...,...
544502,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,1984,3,31,****
544674,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,1998,7,31,****
544975,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,31,****
544977,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,31,****
544979,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,31,****

In [25]:
# Filter rows where 'MaximumTemperature' is '****'
rows_with_asterisks = df_max[df_max['MaximumTemperature'] == '****']

# Group by 'StationName' and display the results
station_specific_results = rows_with_asterisks.groupby('StationName')

# Display results for each station
for station, data in station_specific_results:
    print(f"Station: {station}")
    print(data, '\n')

Station: Ambagan(Ctg.)
          StationName  StationID       Latitude      Longitude  Year  Month  \
310745  Ambagan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2018      6
328325  Ambagan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2018      6
345905  Ambagan(Ctg.)      41977  22Deg.21Mts.N  91Deg.49Mts.E  2018      6

        Day MaximumTemperature
310745   18               ****
328325   19               ****
345905   20               ****

Station: Barishal
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
26619     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      4    2
44236     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1983      5    3
61852     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1986      5    4
79476     Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1990      1    5
114519    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      4    7
132125    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1982      6    8
149722    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1983     11    9
149906    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1999      3    9
237585    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980     10   14
237762    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1995      7   14
237776    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1996      9   14
255378    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1998      7   15
272825    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   16
290405    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   17
307911    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1981      4   18
307985    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   18
308123    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1998     12   18
325480    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      5   19
325565    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   19
343145    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   20
360725    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1987      6   21
395798    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      3   23
413378    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      3   24
431036    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1986      9   25
431103    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1992      4   25
448538    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      3   26
448542    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1980      7   26
483887    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1995     12   28
519047    Barishal      11704  22Deg.45Mts.N  90Deg.20Mts.E  1995     12   30

       MaximumTemperature
26619                ****
44236                ****
61852                ****
79476                ****
114519               ****
132125               ****
149722               ****
149906               ****
237585               ****
237762               ****
237776               ****
255378               ****
272825               ****
290405               ****
307911               ****
307985               ****
308123               ****
325480               ****
325565               ****
343145               ****
360725               ****
395798               ****
413378               ****
431036               ****
431103               ****
448538               ****
448542               ****
483887               ****
519047               ****

Station: Bhola
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
9732         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  1994      1    1
9828         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      1    1
9829         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      2    1
9830         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      3    1
9831         Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      4    1
...            ...        ...            ...            ...   ...    ...  ...
519653       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      6   30
519839       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2017     12   30
537228       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      1   31
537230       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      3   31
537232       Bhola      11706  22Deg.41Mts.N  90Deg.39Mts.E  2002      5   31

       MaximumTemperature
9732                 ****
9828                 ****
9829                 ****
9830                 ****
9831                 ****
...                   ...
519653               ****
519839               ****
537228               ****
537230               ****
537232               ****

[246 rows x 8 columns]

Station: Chandpur
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
134408    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9    8
151988    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9    9
169568    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9   10
187148    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9   11
204728    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9   12
222308    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998      9   13
292493    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   17
310073    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   18
327653    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   19
345233    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   20
362813    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   21
380393    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   22
397973    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1987      6   23
415690    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  1998     11   24
415828    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2010      5   24
503723    Chandpur      11316  23Deg.16Mts.N  90Deg.42Mts.E  2009     12   29

       MaximumTemperature
134408               ****
151988               ****
169568               ****
187148               ****
204728               ****
222308               ****
292493               ****
310073               ****
327653               ****
345233               ****
362813               ****
380393               ****
397973               ****
415690               ****
415828               ****
503723               ****

Station: Chittagong
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
11975   Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12    1
12087   Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1991      4    1
12088   Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1991      5    1
29555   Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12    2
29625   Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1987     10    2
...            ...        ...            ...            ...   ...    ...  ...
521795  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12   30
521907  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1991      4   30
521910  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1991      7   30
539368  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981      5   31
539375  Chittagong      11921  22Deg.16Mts.N  91Deg.49Mts.E  1981     12   31

       MaximumTemperature
11975                ****
12087                ****
12088                ****
29555                ****
29625                ****
...                   ...
521795               ****
521907               ****
521910               ****
539368               ****
539375               ****

[116 rows x 8 columns]

Station: Chuadanga
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
76973    Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1992      6    5
129759   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1996      4    8
129797   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1999      6    8
182475   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1994      4   11
182476   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1994      5   11
200154   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  2002      7   12
217684   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1998      5   13
252810   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1995      7   15
323144   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1996      9   19
340731   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1997      4   20
375880   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1996      5   22
393446   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1995      3   23
411004   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1993      5   24
446139   Chuadanga      41926  23Deg.39Mts.N  88Deg.52Mts.E  1991      4   26

       MaximumTemperature
76973                ****
129759               ****
129797               ****
182475               ****
182476               ****
200154               ****
217684               ****
252810               ****
323144               ****
340731               ****
375880               ****
393446               ****
411004               ****
446139               ****

Station: Cox'sBazar
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
12956   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980      9    1
12957   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10    1
12989   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1983      6    1
13004   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1984      9    1
13009   Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1985      2    1
...            ...        ...            ...            ...   ...    ...  ...
522907  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1991      8   30
540357  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1980     10   31
540407  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1984     12   31
540408  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1985      1   31
540446  Cox'sBazar      11927  21Deg.26Mts.N  91Deg.56Mts.E  1988      3   31

       MaximumTemperature
12956                ****
12957                ****
12989                ****
13004                ****
13009                ****
...                   ...
522907               ****
540357               ****
540407               ****
540408               ****
540446               ****

[219 rows x 8 columns]

Station: Cumilla
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
12456      Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      1    1
12457      Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      2    1
12463      Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      8    1
12472      Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1984      5    1
12570      Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1992      7    1
...            ...        ...            ...            ...   ...    ...  ...
504696     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      1   29
504809     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1992      6   29
522276     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      1   30
522389     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1992      6   30
539856     Cumilla      11313  23Deg.26Mts.N  91Deg.11Mts.E  1983      1   31

       MaximumTemperature
12456                ****
12457                ****
12463                ****
12472                ****
12570                ****
...                   ...
504696               ****
504809               ****
522276               ****
522389               ****
539856               ****

[79 rows x 8 columns]

Station: Dhaka
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
27           Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1982      4    1
17652        Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1986      1    2
35247        Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1987      4    3
87927        Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1982      4    6
105519       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983      4    7
123159       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1988      4    8
193393       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      2   12
211006       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983     11   13
211022       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1985      3   13
211073       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1989      6   13
228563       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981     12   14
228586       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983     11   14
228628       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1987      5   14
246127       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      8   15
246267       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1992      4   15
263713       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      2   16
281306       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1982      3   17
298949       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1987      6   18
334109       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1987      6   20
334155       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1991      4   20
351628       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1982      5   21
351689       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1987      6   21
351941       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  2008      6   21
386774       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      3   23
386943       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1995      4   23
457085       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      6   27
457099       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      8   27
474673       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      2   28
492254       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      3   29
509839       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1981      8   30
527436       Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1983      1   31

       MaximumTemperature
27                   ****
17652                ****
35247                ****
87927                ****
105519               ****
123159               ****
193393               ****
211006               ****
211022               ****
211073               ****
228563               ****
228586               ****
228628               ****
246127               ****
246267               ****
263713               ****
281306               ****
298949               ****
334109               ****
334155               ****
351628               ****
351689               ****
351941               ****
386774               ****
386943               ****
457085               ****
457099               ****
474673               ****
492254               ****
509839               ****
527436               ****

Station: Faridpur
       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
36678     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7    3
37171     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8    3
54258     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7    4
54726     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      7    4
71838     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1981      7    5
72306     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      7    5
89401     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1980      2    6
89732     Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2007      9    6
107024    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      9    7
107374    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2012     11    7
124563    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1980      4    8
124599    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      4    8
124624    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1985      5    8
142143    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1980      4    9
142180    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      5    9
159723    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1980      4   10
159753    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982     10   10
159759    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      4   10
177335    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982     12   11
194915    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982     12   12
194930    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1984      3   12
195078    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1996      7   12
195391    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8   12
212948    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      9   13
248131    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8   15
265449    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2000     10   16
282975    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1996      4   17
300395    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982     12   18
300503    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1991     12   18
300848    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      9   18
335551    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982      8   20
335621    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1988      6   20
335715    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1996      4   20
336008    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      9   20
353276    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1994      9   21
388747    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020      8   23
388749    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2020     10   23
405881    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      6   24
423448    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1982      5   25
423468    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1984      1   25
423931    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8   25
441511    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8   26
476200    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1983      5   28
476344    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1995      5   28
476671    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  2022      8   28
493933    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1996      2   29
511495    Faridpur      11505  23Deg.36Mts.N  89Deg.51Mts.E  1994      8   30

       MaximumTemperature
36678                ****
37171                ****
54258                ****
54726                ****
71838                ****
72306                ****
89401                ****
89732                ****
107024               ****
107374               ****
124563               ****
124599               ****
124624               ****
142143               ****
142180               ****
159723               ****
159753               ****
159759               ****
177335               ****
194915               ****
194930               ****
195078               ****
195391               ****
212948               ****
248131               ****
265449               ****
282975               ****

In [26]:
# To find the null values
df_max.isnull().sum()

StationName              0
StationID                0
Latitude                 0
Longitude                0
Year                     0
Month                    0
Day                      0
MaximumTemperature    9893
dtype: int64

In [27]:
# Replace '****' with NaN in the original DataFrame
df_max.loc[df_max['MaximumTemperature'] == '****', 'MaximumTemperature'] = np.nan

In [28]:
# To find the null values
df_max.isnull().sum()

StationName               0
StationID                 0
Latitude                  0
Longitude                 0
Year                      0
Month                     0
Day                       0
MaximumTemperature    15727
dtype: int64

In [29]:
# Step 2: Convert 'MaximumTemperature' to numeric, coercing errors (turn non-numeric to NaN)
df_max['MaximumTemperature'] = pd.to_numeric(df_max['MaximumTemperature'], errors='coerce')

# Group by StationName, Month, Day, and Time, and calculate the mean for each group
MaximumTemperature_mean = df_max.groupby(['StationName', 'Month', 'Day'])['MaximumTemperature'].transform('mean')

# Replace '****' (NaN values) with the mean of the same station, month, day, and time
df_max['MaximumTemperature'] = df_max['MaximumTemperature'].fillna(MaximumTemperature_mean)

# Verify the result
print(df_max)

       StationName  StationID       Latitude      Longitude  Year  Month  Day  \
0            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      1    1
1            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      2    1
2            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      3    1
3            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      4    1
4            Dhaka      11111  23Deg.46Mts.N  90Deg.23Mts.E  1980      5    1
...            ...        ...            ...            ...   ...    ...  ...
544975      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2023      8   31
544976      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2023      9   31
544977      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2023     10   31
544978      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2023     11   31
544979      Teknaf      11929  20Deg.52Mts.N  92Deg.18Mts.E  2023     12   31

        MaximumTemperature
0                24.700000
1                24.400000
2                22.200000
3                35.000000
4                35.300000
...                    ...
544975           30.665116
544976                 NaN
544977           30.832558
544978                 NaN
544979           27.211905

[544980 rows x 8 columns]

In [30]:
# Check it again to  find the null values
df_max.isnull().sum()

StationName              0
StationID                0
Latitude                 0
Longitude                0
Year                     0
Month                    0
Day                      0
MaximumTemperature    8790
dtype: int64

In [31]:
# Check rows where 'MaximumTemperature' is still NaN after replacement
rows_with_nan = df_max[df_max['MaximumTemperature'].isna()]

# If there are still rows with NaN, inspect them
rows_with_nan

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
509821,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,30,NaN
509833,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1981,2,30,NaN
509845,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1982,2,30,NaN
509857,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1983,2,30,NaN
509869,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1984,2,30,NaN
...,...,...,...,...,...,...,...,...
544969,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,2,31,NaN
544971,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,4,31,NaN
544973,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,6,31,NaN
544976,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,9,31,NaN
544978,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,11,31,NaN

In [32]:
# Sample: Define valid days for each month (for non-leap years)
valid_days_per_month = {
    1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30,
    7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31
}

# Adjust for leap years (for February only)
def is_leap_year(year):
    return (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))

# Add a column to check if a year is a leap year
df_max['IsLeapYear'] = df_max['Year'].apply(is_leap_year)

# Adjust February days for leap years
df_max.loc[df_max['IsLeapYear'], 'ValidDays'] = df_max.loc[df_max['IsLeapYear'], 'Month'].apply(lambda month: 29 if month == 2 else valid_days_per_month[month])
df_max.loc[~df_max['IsLeapYear'], 'ValidDays'] = df_max.loc[~df_max['IsLeapYear'], 'Month'].apply(lambda month: valid_days_per_month[month])

In [33]:
# Remove rows where 'Day' is greater than the valid days for that month
df_max = df_max[df_max['Day'] <= df_max['ValidDays']]

In [34]:
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature,IsLeapYear,ValidDays
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,1,24.700000,True,31.0
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,1,24.400000,True,29.0
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,1,22.200000,True,31.0
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,1,35.000000,True,30.0
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,1,35.300000,True,31.0
...,...,...,...,...,...,...,...,...,...,...
544972,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,5,31,34.200000,False,31.0
544974,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,7,31,32.800000,False,31.0
544975,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,31,30.665116,False,31.0
544977,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,31,30.832558,False,31.0
544979,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,31,27.211905,False,31.0

In [35]:
# Check it again to  find the null values
df_max.isnull().sum()

StationName           0
StationID             0
Latitude              0
Longitude             0
Year                  0
Month                 0
Day                   0
MaximumTemperature    0
IsLeapYear            0
ValidDays             0
dtype: int64

In [36]:
df_max = df_max.drop(columns=['IsLeapYear', 'ValidDays'])

In [37]:
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
0,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,1,1,24.700000
1,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,2,1,24.400000
2,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,3,1,22.200000
3,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,4,1,35.000000
4,Dhaka,11111,23Deg.46Mts.N,90Deg.23Mts.E,1980,5,1,35.300000
...,...,...,...,...,...,...,...,...
544972,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,5,31,34.200000
544974,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,7,31,32.800000
544975,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,8,31,30.665116
544977,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,10,31,30.832558
544979,Teknaf,11929,20Deg.52Mts.N,92Deg.18Mts.E,2023,12,31,27.211905

## **Coverting Latitude and Longitude to Numerical Value**

In [38]:
df_max.dtypes

StationName            object
StationID               int64
Latitude               object
Longitude              object
Year                    int64
Month                   int64
Day                     int64
MaximumTemperature    float64
dtype: object

In [39]:
def convert_to_decimal(deg_min, direction):
    """
    Converts degree-minute format to decimal degrees.
    Example Input: "23Deg.46Mts.N" -> Output: 23.7667
    """
    parts = deg_min.split("Deg.")
    degrees = float(parts[0])
    minutes = float(parts[1].split("Mts.")[0])

    decimal = degrees + (minutes / 60)

    # Convert South/West to negative
    if direction in ["S", "W"]:
        decimal = -decimal

    return decimal

# Example usage
latitude = convert_to_decimal("23Deg.46Mts.", "N")
longitude = convert_to_decimal("90Deg.23Mts.", "E")

print(latitude, longitude)  # Output: 23.7667, 90.3833

23.766666666666666 90.38333333333334

In [40]:
df_max["Latitude"] = df_max["Latitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (N/S)
df_max["Longitude"] = df_max["Longitude"].apply(lambda x: convert_to_decimal(x[:-1], x[-1]))  # Extract last character (E/W)
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
0,Dhaka,11111,23.766667,90.383333,1980,1,1,24.700000
1,Dhaka,11111,23.766667,90.383333,1980,2,1,24.400000
2,Dhaka,11111,23.766667,90.383333,1980,3,1,22.200000
3,Dhaka,11111,23.766667,90.383333,1980,4,1,35.000000
4,Dhaka,11111,23.766667,90.383333,1980,5,1,35.300000
...,...,...,...,...,...,...,...,...
544972,Teknaf,11929,20.866667,92.300000,2023,5,31,34.200000
544974,Teknaf,11929,20.866667,92.300000,2023,7,31,32.800000
544975,Teknaf,11929,20.866667,92.300000,2023,8,31,30.665116
544977,Teknaf,11929,20.866667,92.300000,2023,10,31,30.832558
544979,Teknaf,11929,20.866667,92.300000,2023,12,31,27.211905

In [41]:
df_max.dtypes

StationName            object
StationID               int64
Latitude              float64
Longitude             float64
Year                    int64
Month                   int64
Day                     int64
MaximumTemperature    float64
dtype: object

## **Creating Date Time Column**

In [42]:
import calendar

# Function to check if a date is valid
def is_invalid_date(row):
    days_in_month = calendar.monthrange(row['Year'], row['Month'])[1]
    return row['Day'] > days_in_month

# Remove invalid rows
df_max = df_max[~df_max.apply(is_invalid_date, axis=1)].reset_index(drop=True)

# Convert datetime again
df_max['Datetime'] = pd.to_datetime(df_max[['Year', 'Month', 'Day']])

print(df_max.info())  # Verify that datetime is correctly created

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535087 entries, 0 to 535086
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   StationName         535087 non-null  object
 1   StationID           535087 non-null  int64
 2   Latitude            535087 non-null  float64
 3   Longitude           535087 non-null  float64
 4   Year                535087 non-null  int64
 5   Month               535087 non-null  int64
 6   Day                 535087 non-null  int64
 7   MaximumTemperature  535087 non-null  float64
 8   Datetime            535087 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 36.7+ MB
None

In [43]:
df_max

,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature,Datetime
0,Dhaka,11111,23.766667,90.383333,1980,1,1,24.700000,1980-01-01
1,Dhaka,11111,23.766667,90.383333,1980,2,1,24.400000,1980-02-01
2,Dhaka,11111,23.766667,90.383333,1980,3,1,22.200000,1980-03-01
3,Dhaka,11111,23.766667,90.383333,1980,4,1,35.000000,1980-04-01
4,Dhaka,11111,23.766667,90.383333,1980,5,1,35.300000,1980-05-01
...,...,...,...,...,...,...,...,...,...
535082,Teknaf,11929,20.866667,92.300000,2023,5,31,34.200000,2023-05-31
535083,Teknaf,11929,20.866667,92.300000,2023,7,31,32.800000,2023-07-31
535084,Teknaf,11929,20.866667,92.300000,2023,8,31,30.665116,2023-08-31
535085,Teknaf,11929,20.866667,92.300000,2023,10,31,30.832558,2023-10-31
535086,Teknaf,11929,20.866667,92.300000,2023,12,31,27.211905,2023-12-31

In [44]:
print(df_max["Datetime"].apply(type).value_counts())

Datetime
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    535087
Name: count, dtype: int64

In [45]:
print(df_max.groupby("StationID")["Datetime"].nunique())  # Check number of unique timestamps per station

StationID
10120    15705
10208    16071
10320    16071
10408    16071
10609    16071
10705    16071
10724    15340
10910    16071
11111    16071
11313    16071
11316    15705
11407    16071
11505    16071
11513    16071
11604    16071
11610    16071
11704    16071
11706    16071
11805    16071
11809    16071
11814    14611
11912    16071
11916    15706
11921    14245
11925    14244
11927    16071
11929    16071
12007    16071
12103    15705
12110    16071
41858    12053
41909    13514
41926    12783
41958    12783
41977     9131
Name: Datetime, dtype: int64

In [46]:
# Reorganizing columns
df_max = df_max[[
    'Datetime', 'StationName',
    'StationID', 'Latitude', 'Longitude',
    'Year', 'Month', 'Day',
    'MaximumTemperature'
]]

# Display the first few rows to confirm
df_max.head()

,Datetime,StationName,StationID,Latitude,Longitude,Year,Month,Day,MaximumTemperature
0,1980-01-01,Dhaka,11111,23.766667,90.383333,1980,1,1,24.7
1,1980-02-01,Dhaka,11111,23.766667,90.383333,1980,2,1,24.4
2,1980-03-01,Dhaka,11111,23.766667,90.383333,1980,3,1,22.2
3,1980-04-01,Dhaka,11111,23.766667,90.383333,1980,4,1,35.0
4,1980-05-01,Dhaka,11111,23.766667,90.383333,1980,5,1,35.3

In [47]:
# Count the number of duplicate rows
duplicate_count = df_max.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

## **Data Summary**

In [48]:
print(df_max.info())  # Check data types and missing values
print(df_max.describe())  # Summary statistics for numeric columns
print(df_max["Datetime"].min(), df_max["Datetime"].max())  # Verify datetime range
print(df_max.duplicated().sum())  # Check for duplicate rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535087 entries, 0 to 535086
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Datetime            535087 non-null  datetime64[ns]
 1   StationName         535087 non-null  object
 2   StationID           535087 non-null  int64
 3   Latitude            535087 non-null  float64
 4   Longitude           535087 non-null  float64
 5   Year                535087 non-null  int64
 6   Month               535087 non-null  int64
 7   Day                 535087 non-null  int64
 8   MaximumTemperature  535087 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(1)
memory usage: 36.7+ MB
None
                            Datetime      StationID       Latitude  \
count                         535087  535087.000000  535087.000000
mean   2002-09-26 04:48:14.952035584   14833.107104      23.290771
min              1980-01-01 00:00:00   10120.000000      20.866667
25%              1992-02-26 00:00:00   11111.000000      22.483333
50%              2002-11-25 00:00:00   11704.000000      23.166667
75%              2013-07-14 00:00:00   11927.000000      24.300000
max              2023-12-31 00:00:00   41977.000000      24.900000
std                              NaN    9667.736847       1.111735

           Longitude           Year          Month            Day  \
count  535087.000000  535087.000000  535087.000000  535087.000000
mean       90.973428    2002.236005       6.522965      15.729532
min        88.866667    1980.000000       1.000000       1.000000
25%        90.233333    1992.000000       4.000000       8.000000
50%        91.183333    2002.000000       7.000000      16.000000
75%        91.883333    2013.000000      10.000000      23.000000
max        92.300000    2023.000000      12.000000      31.000000
std         0.979896      12.478383       3.448697       8.800056

       MaximumTemperature
count       535087.000000
mean            30.713925
min              2.300000
25%             28.500000
50%             31.200000
75%             33.100000
max             44.400000
std              3.479917
1980-01-01 00:00:00 2023-12-31 00:00:00
0

In [49]:
print(df_max.isnull().sum())

Datetime              0
StationName           0
StationID             0
Latitude              0
Longitude             0
Year                  0
Month                 0
Day                   0
MaximumTemperature    0
dtype: int64

In [50]:
print(df_max.duplicated(subset=['StationID', 'Datetime']).sum())

0

In [51]:
print(df_max['StationName'].unique())

['Dhaka' 'Tangail' 'Mymensingh' 'Faridpur' 'Madaripur' 'Srimangal'
 'Sylhet' 'Chuadanga' 'Jessore' 'Khulna' 'Mongla' 'Satkhira' 'Barishal'
 'Bhola' 'Khepupara' 'Patuakhali' 'Chandpur' 'Ambagan(Ctg.)' 'Chittagong'
 'Cumilla' "Cox'sBazar" 'Feni' 'Hatiya' 'Kutubdia' 'Maijdee_court'
 'Rangamati' 'Sandwip' 'Sitakunda' 'Teknaf']

In [52]:
print(df_max['Datetime'].is_monotonic_increasing)

False

In [54]:
df_max['MaximumTemperature'] = df_max['MaximumTemperature'].round(1)

## **Saving the Data Finally**

In [55]:
# Save the DataFrame to a CSV file
df_max.to_csv('/content/drive/MyDrive/Thesis/Research Data/Preprocessed Data/Processed_max_temp_data.csv', index=False)